p {
    color: #d6dfe3;
    font-size: 18px;
}
body{
    background-color: #39375B;
}
#title{
    color: #FADF7F;
}
#picture {
    width: 20rem;
    border-style: solid;
    border-width: 10px;
    border-color: aliceblue;
    padding: 10px;
}
.float-left{
    float: center;
    width: 20%;
}

.center {
    display: block;
    margin: auto;
    width: 30%;
}
#list-content {
    color: #d6dfe3;
}
.flex-container {
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    background-color: #f0f0f0; /* Background color for the container */
    padding: 10px;
    border: 1px solid #ccc; /* Border around the container */
}

.flex-item {
    background-color: #4CAF50; /* Item background color */
    color: white; /* Item text color */
    padding: 20px; /* Padding inside each item */
    margin: 5px; /* Margin between items */
    flex: 1; /* Allow items to grow */
    min-width: 100px; /* Minimum width for each item */
    text-align: center; /* Center text */
}